#MainDiv {
    padding: 30px;
    padding-top: 2px;
    padding-left: 40px;
    width: 450px;
    height: 500px;
    margin: auto;
    border-radius: 5%;
    border: 2px solid black;
    background-color: #a0a0a0
}


h4 {
    margin-top: 25px;
    margin-bottom: 2px;

}


input {
    width: 180px;
    height: 25px;
}



#Month {
    width: 120px;
    height: 25px;
    background-color: rgb(197, 197, 197);
}

#Day {
    width: 120px;
}

#Year {
    width: 120px;
}

.lone {
    width: 364px;
}

#Submit {
    height: 40px;
    margin-top: 40px;
    margin-left: 100px;
}

#Submit:active {
    background-color: #c0c0c0;
}

#Email::placeholder {
    text-align: right;
}