.productImg {
    width: 150px;
    height: 150px;
}

.productDiv {
    display: inline-block;
    border: 2px solid black;
    margin-left: 5%;
    margin-right: 5%;
    width: 170px;
    background-color: #a09dda;
    padding: 10px;
    margin: 20px;
}

.productPage h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.productPage h4 {
    padding-bottom: 15px;
}